# Themed resources (bootanimation)
allow bootanim system_data_file:file open;
allow bootanim themeservice_app_data_file:dir search;
allow bootanim themeservice_app_data_file:file r_file_perms;
