<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.systemui.qstile.dualtonecircletrim"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui" android:priority="1"/>

    <application android:label="@string/qstile_dual_tone_circle" android:hasCode="false"/>
</manifest>
